@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto:wght@500&family=Rubik:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Noto Serif', serif;
}

.banner {
    width: 110px;
    height: 45px;
    background-color: #E86300;
    display: flex;
    padding: 0 5px;
}

.banner .head {
    color: #CCCCCC;
    font-size: 17px;
    position: absolute;
    margin-top: 2px;
    font-weight: 500;
}

.banner .name {
    color: #fff;
    font-size: 17px;
    margin-right: 3px;
    margin-top: 20px;
    font-weight: 500;
}